html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #fff;
}
header{
    color:red;
    margin:auto;
}

header span{
    padding:15px;
    font-size:2.6em;
    font-weight:500;
}
i{
    color:rgb(255, 230, 92);
    display:fixed;
    font-size:2.8rem;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding:15px;
  margin:auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.pass{
  padding:5px 0 10px;
}